SUBSYSTEM=="net", ATTRS{idVendor}=="2672", ATTRS{product}=="GoPro HERO9", ACTION=="add", RUN+="systemctl start gopro_webcam"
SUBSYSTEM=="net", ATTRS{idVendor}=="2672", ATTRS{product}=="GoPro HERO9", ACTION=="remove", RUN+="systemctl stop gopro_webcam"

